:root {
    /* Blue & Gray */
    --primary-color: #e8e5f2;
    --secondary-color: #080124;

    /* Other Varibales */
    --transition: all 0.5s ease-in-out;
}

.dark-mode {
    --primary-color: #080124;
    --secondary-color: #e8e5f2;

    .win-message {
        color: var(--secondary-color);
    }
}

body {   
    background-color: var(--primary-color);
    color: var(--secondary-color);
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    margin: 0 auto;
    padding: 0 20px 20px 20px;
    transition: var(--transition);
}

footer {
    margin-top: 40px;
    text-align: center;
    font-size: 0.9em;
    color: var(--secondary-color);

    a {
        color: var(--secondary-color);
        position: relative;
        text-decoration: underline;
        transition: var(--transition);

        &:hover {
            // transform: translateY(-2px);
            opacity: .7;
        }  
    }
}