/* ==========================================================================
   Theme Switcher
   ========================================================================== */
.theme-switcher {
    position: absolute;
    top: 0;
    right: 0;
    
    button {
        background-color: transparent;
        border: 2px solid var(--secondary-color);
        cursor: pointer;
        padding: 5px;

        .icon {
            display: block;
            width: 32px;
            height: 32px;
            background-repeat: no-repeat;
            background-size: contain;
        }
    }
}

.theme-switcher .icon {
    background-image: url('../icons/svg/light-mode.svg');
    filter: invert(0);
}

.dark-mode .theme-switcher .icon {
    background-image: url('../icons/svg/dark-mode.svg');
    filter: invert(1);
}